{% extends "skel.html" %}
{% block blocks %}
<div id="options" class="section">
<div class="blockheader">选择报表类型</div>
<div class="block">
<form action="/reports" method="post">
{% csrf_token %}
{{ report_form.as_p }}
<p><input type="submit" value="下载报表" /></p>
</form>
</div>
</div>

<div id="options" class="section">
<div class="blockheader">提点数据自动填写</div>
<div class="block">
<form action="/autofill" method="post">
{% csrf_token %}
{{ autofill_form.as_p }}
<p><input type="submit" value="自动填写" /></p>
</form>
</div>
</div>
</div>

{% endblock blocks %}
